.sportsapp {
    &-navbar {
        height: 60px;
    }

    &-layout {
        height: calc(100% - 60px);

        &--list {
            &--group {
                max-height: calc(100% - 60px);
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                &--item {
                    background-color: #83ca8f;
                }

                &--item.active {
                    background-color: #03a9f4;
                }

            }
        }
    }
}

.container-fluid {
    max-width: 1700px;
}